<tr id="<%= dom_id product %>">
  <td>
    <%= product.id %>
  </td>
  <td>
    <%= link_to product.name, product %>
  </td>
  <td>
    <%= product.stock_qty %>
  </td>
  <td>
    <%= product.price %>
  </td>
</tr>
